@import "mixins-master";

$white: #ffffff;

.instagram-feeds{
  .instagram-wrap{
    font-size: 0px;
    .insta-box{
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 5px;
      img{
        border-radius: 0px;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
      .box-head{
        transition: .3s ease-in-out;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        top: 0;
        height: 100%;
        .pic-author{
          color: $white;
          font-size: 16px;
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-weight: bold;
        }
        .count-pic{
          display: inline-block;
          font-size: 16px;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          border: 2px solid $white;
          background-color: #999;
          color: $white;
          font-weight: bold;
          position: absolute;
          top: 10px;
          right: 10px;
          padding-top: 0px;
          text-align: center;
        }
        button{
          display: block;
          padding: 5px 10px;
          background-color: #d5d5d5;
          color: #333333;
          margin: 112px auto 0px;
          font-size: 20px;
          opacity: 0;
          transition: .3s ease-in;
        }
      }
      &:hover{
        .box-head{
          button{
            opacity: 1;
          }
        }
      }
    }
  }
}
.instagram-feeds.shop{
  margin: 30px 0px;
  .insta-box{
    width:32%;
    height: 250px;
    margin: 5px;
  }
  .owl-controls{
    .owl-prev{
      background-image: url('../images/arrow-large.png');
      width: 49px;
      height: 64px;
      left: 10px;
      top: -25px;
    }
    .owl-next{
      background-image: url('../images/arrow-large.png');
      width: 49px;
      height: 64px;
      top: -30px;
    }
  }

}
.instagram-feeds{
  &.insta_feed{
    .insta-box{
      width:32%;
      height: 250px;
    }
  }
}
.slider-wrapper.shop{
  .insta-box{
    width:auto;
  }
}
.screens-template {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 0;
  overflow-y: auto;
  .screen-template-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
    .close-icon {
      width: 30px;
      height: 30px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      z-index: 99999;
      @include prefix( transition, $trans_25, o moz webkit );

      &:before {
        content: "\f00d";
        font: normal normal normal 14px/1 FontAwesome;
      }
    }
    .wkgrid-squeezy {
      width: 1000px;
      max-width: 100%;
      padding: 0 15px;
      margin: 0 auto;
      position: relative;
      top: 45px;
    }
    .content {
      display: table-cell;
      vertical-align: middle;
      .inner-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        direction: rtl;
        background-color: $white;
        box-shadow: $box_shadow_3;
        .slider-part {
          width: 44%;
          direction: ltr;
          display: inline-block;
          float: left;
          .slider-wrapper{
            .item{
              height: 480px;
              .box-head{
                position: absolute;
                width: 100%;
                top: 0;
                height: 100%;
                span.pic-author{
                  color: $white;
                  font-size: 18px;
                  position: absolute;
                  bottom: 10px;
                  left: 10px;
                  font-weight: bold;
                }
              }
            }
            .owl-controls{

              .owl-prev{
                background-image: url('../images/arrow.png');

              }
              .owl-next{
                background-image: url('../images/arrow.png');
              }
            }

          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            border-bottom-left-radius: 8px!important;
            border-top-left-radius: 8px!important;
          }
        }
        .info-part {
          direction: ltr;
          width: 55%;
          padding: 0px 15px;
          display: inline-block;
          vertical-align: top;
          overflow-y: auto;
          height: 480px;
          .insta-tag-products{
            opacity: 1;
          }
          h2{
            margin: 15px 0px;
          }
          ul.products li.product{
            width: 45%;
            display: inline-block;
            float: none;
            vertical-align: top;
            margin-right: 4%;
            margin-bottom: 10px;
          }
        }
      }
    }


  }

}

.owl-controls{
  position: absolute;
  top: 50%;
  width: 100%;
  .owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
    position: absolute;
  }
  .owl-prev{
    left: 10px;
    position: absolute;
    display: inline-block;
    height: 32px;
    width: 25px;
    transform: rotate(-180deg);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .owl-next{
    right: 10px;
    position: absolute;
    height: 32px;
    width: 25px;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

  }}

.instabox-footer{
  text-align: center;
  margin: 20px 0px;
  button{
    display: inline-block;
  }
}
//instagram product page

.insta-product-page{
  .insta-box{
    width: 32%;
    position: relative;
    height: 250px;
    .box-head{
      .pic-author{
        color: $white;
        font-size: 16px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-weight: bold;
      }
    }
  }
}
.wk-loader {
  &.preload{
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100000;
    .info-part{
      .insta-tag-products{
        opacity: 0;
      }
    }
  }
  .cp-adjust-huener{
    width:48px;
    height:48px;
    display:inline-block;
    box-sizing:border-box;
    position:relative;
    top: 48%;
    left: 45%;
    &:before{
      border-radius:50%;
      content:" ";
      width:48px;
      height:48px;
      display:inline-block;
      box-sizing:border-box;
      border-top:solid 6px #bababa;
      border-right:solid 6px #bababa;
      border-bottom:solid 6px #bababa;
      border-left:solid 6px #bababa;
      position:absolute;
      top:0;
      left:0
    }
    &:after{
      border-radius:50%;
      content:" ";
      width:48px;
      height:48px;
      display:inline-block;
      box-sizing:border-box;
      border-top:solid 6px #96588a;
      border-right:solid 6px transparent;
      border-bottom:solid 6px transparent;
      border-left:solid 6px transparent;
      position:absolute;
      top:0;
      left:0;
      animation:cp-round-animate 1s ease-in-out infinite;
    }
  }
}
@keyframes cp-round-animate{
  0%{
    transform:rotate(0)
  }
  100%{
    transform:rotate(360deg)
  }
}
@media only screen and (max-width: 1199px){
  .screens-template {
    .screen-template-wrap {
      .close-icon{
        top: 15px;
        right: 15px;
      }
    }
  }
}
@media only screen and (max-width: 991px){
  .instagram-feeds{
    .instagram-wrap{
      text-align: center;
    }
  }
  .screens-template {
    .screen-template-wrap{
      display: block;
      .content{
        display: inherit;
      }
    }
  }

}
@media only screen and (max-width: 800px){
  .insta-product-page .insta-box{
    width: 48%;
  }
  .instagram-feeds{
    &.insta_feed{
      .insta-box{
        width: 48%;
      }
    }
  }
  .instagram-feeds.shop{
    .insta-box{
      width:48%;
    }
  }
  .slider-wrapper.shop {
    .insta-box{
      width: auto;
      height: 250px;
    }
  }
}
@media only screen and (max-width: 625px){
  .insta-product-page .insta-box{
    width: 100%;
    height: auto;
  }
  .instagram-feeds{
    &.insta_feed{
      .insta-box{
        width: 100%;
        height: auto;
      }
    }
  }
  .instagram-feeds.shop{
    .insta-box{
      width:100%;
      height: auto;
    }
  }
  .slider-wrapper.shop {
    .insta-box{
      width: auto;
      height: 250px;
    }
  }
  .screens-template {
    .screen-template-wrap {
      .content {
        .inner-content {
          .info-part{
            width: 100%;
          }
          .slider-part{
            width: 100%;
          }
        }
      }
    }
  }
}
