/*!
 * 
 * This is for all the frontend styles.
 * 
 */

@import "mixins-master";
$white: #ffffff;

.instagram-feeds{
  .instagram-wrap{
    font-size: 0px;

    .insta-box{
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 5px;
      height: 250px;
      width: 250px;

      img{
        border-radius: 0px;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }

      .box-head{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        top: 0;
        @include prefix( transition, $trans_25, o moz webkit );

        .pic-author{
          color: $white;
          font-size: 16px;
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-weight: bold;
        }
        .count-pic{
          display: inline-block;
          font-size: 16px;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          border: 2px solid $white;
          background-color: #999;
          color: $white;
          font-weight: bold;
          position: absolute;
          top: 10px;
          right: 10px;
          padding-top: 0px;
          text-align: center;
        }
        button{
          padding: .5rem 1rem;
          text-align: center;
          border-radius: 100px;
          background: rgba( #fff, .3 );
          border: 3px solid #FFE6B2;
          opacity: 0;
          @include font-size( 1 );
          @include prefix( box-shadow, $box_shadow_4, o moz webkit );
          @include prefix( text-shadow, 1px 1px 3px rgba(#000, 0 ), o moz webkit );
          @include prefix( transition, $trans_25, o moz webkit );

          &:hover {
          border: 3px solid #FFE6B2;
          background: #FFE6B2;
          color: rgba(255, 255, 255, .8);
          @include prefix( text-shadow, 1px 1px 3px rgba(#000, .9 ), o moz webkit );
          }
        }
      }
      &:hover{
        .box-head {

          button {
            opacity: 1;
          }
        }
      }
    }
  }
}
.instagram-feeds.shop{
  margin: 30px 0px;

  .owl-controls{
    .owl-prev{
      background-image: url('../images/arrow-large.png');
      width: 49px;
      height: 64px;
      left: 10px;
      top: -25px;
    }
    .owl-next{
      background-image: url('../images/arrow-large.png');
      width: 49px;
      height: 64px;
      top: -30px;
    }
  }

}

.screens-template {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 99999;
  @include prefix( transition, $trans_25, o moz webkit );
  .screen-template-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .close-icon {
      width: 25px;
      height: 25px;
      display: inline-block;
      position: absolute;
      top: -35px;
      right: -8px;
      cursor: pointer;
      z-index: 99999;
      @include prefix( transition, $trans_25, o moz webkit );

      &:before {
        content: "\f00d";
        font: normal normal normal 25px/1 FontAwesome;
      }
    }

    .wkgrid-squeezy {
      width: 100%;
      height: 650px;
      margin: 0 auto;
      position: relative;
    }

    .content {
      position: relative;
      width: 1200px;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      overflow: hidden;
      @include prefix( box-shadow, $box_shadow_4, o moz webkit );

      .inner-content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        height: 100%;
        width: 100%;
        background-color: $white;

        .slider-part {
          flex: .2 .6 65%;
          display: inline-block;
          position: relative;
          height: 100%;
          max-width: 60%;

          .slider-wrapper{
            height: 100%;

            .owl-wrapper-outer {
              height: 100%;
              @include prefix( box-shadow, $box_shadow_5, o moz webkit );

              .owl-wrapper {
                height: 100%;

                .owl-item {
                  height: 100%;

                  .item {
                    height: 100%;

                    .box-head{
                      position: absolute;
                      width: 100%;
                      top: 0;
                      height: 100%;

                      span.pic-author{
                        color: $white;
                        font-size: 18px;
                        position: absolute;
                        bottom: 15px;
                        left: 15px;
                        font-weight: 600;
                      }
                    }
                  }
                }
              }
            }

            .owl-controls{

              .owl-prev{
                background-image: url('../images/arrow.png');

              }
              .owl-next{
                background-image: url('../images/arrow.png');
              }
            }

          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .info-part {
          position: relative;
          flex: 0 .3 35%;
          padding: 0px;
          height: 100%;
          display: inline-block;
          overflow-y: auto;

          .wonka-shop-img-wrap {
            height: 245px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .star-rating {
            display: none;
          }

          .insta-tag-products {
            opacity: 1;
          }

          h2{
            margin: 15px 0px;
          }
          ul.products li.product{
            width: 45%;
            display: inline-block;
            float: none;
            vertical-align: top;
            margin-right: 4%;
            margin-bottom: 10px;
          }
        }
      }
    }


  }

}

.owl-controls{
  position: absolute;
  top: 50%;
  width: 100%;
  .owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
    position: absolute;
  }
  .owl-prev{
    left: 10px;
    position: absolute;
    display: inline-block;
    height: 32px;
    width: 25px;
    transform: rotate(-180deg);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .owl-next{
    right: 10px;
    position: absolute;
    height: 32px;
    width: 25px;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

  }}

.instabox-footer{
  text-align: center;
  margin: 20px 0px;

  button.popup-open {
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 100px;
    background: rgba( #fff, .3 );
    border: 3px solid #FFE6B2;
    @include font-size( 1 );
    @include prefix( box-shadow, $box_shadow_4, o moz webkit );
    @include prefix( text-shadow, 1px 1px 3px rgba(#000, 0 ), o moz webkit );
    @include prefix( transition, $trans_25, o moz webkit );

    &:hover {
    border: 3px solid #FFE6B2;
    background: #FFE6B2;
    color: rgba(255, 255, 255, .8);
    @include prefix( text-shadow, 1px 1px 3px rgba(#000, .9 ), o moz webkit );
    }
  }
}
//instagram product page

.insta-product-page{
  .insta-box{
    width: 19.2%;
    position: relative;
    height: 250px;

    .box-head{

      .pic-author{
        color: $white;
        font-size: 16px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-weight: bold;
      }
    }
  }
}
.wk-loader {
  &.preload{
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100000;
    .info-part{
      .insta-tag-products{
        opacity: 0;
      }
    }
  }
  .cp-adjust-huener{
    width:48px;
    height:48px;
    display:inline-block;
    box-sizing:border-box;
    position:relative;
    top: 48%;
    left: 45%;
    &:before{
      border-radius:50%;
      content:" ";
      width:48px;
      height:48px;
      display:inline-block;
      box-sizing:border-box;
      border-top:solid 6px #bababa;
      border-right:solid 6px #bababa;
      border-bottom:solid 6px #bababa;
      border-left:solid 6px #bababa;
      position:absolute;
      top:0;
      left:0
    }
    &:after{
      border-radius:50%;
      content:" ";
      width:48px;
      height:48px;
      display:inline-block;
      box-sizing:border-box;
      border-top:solid 6px #96588a;
      border-right:solid 6px transparent;
      border-bottom:solid 6px transparent;
      border-left:solid 6px transparent;
      position:absolute;
      top:0;
      left:0;
      animation:cp-round-animate 1s ease-in-out infinite;
    }
  }
}
@keyframes cp-round-animate{
  0%{
    transform:rotate(0)
  }
  100%{
    transform:rotate(360deg)
  }
}
@media only screen and (max-width: 1199px){
  .screens-template {
    .screen-template-wrap {
      .close-icon{
        top: 15px;
        right: 15px;
      }
    }
  }
}
@media only screen and (max-width: 991px){
  .instagram-feeds{
    .instagram-wrap{
      text-align: center;
    }
  }
  .screens-template {
    .screen-template-wrap{
      display: block;
      .content{
        display: inherit;
      }
    }
  }

}
@media only screen and (max-width: 800px){
  .insta-product-page .insta-box{
    width: 48%;
  }
  .instagram-feeds{
    &.insta_feed{
      .insta-box{
        width: 48%;
      }
    }
  }
  .instagram-feeds.shop{
    .insta-box{
      width:48%;
    }
  }
  .slider-wrapper.shop {
    .insta-box{
      width: auto;
      height: 250px;
    }
  }
}
@media only screen and (max-width: 625px){
  .insta-product-page .insta-box{
    width: 100%;
    height: auto;
  }
  .instagram-feeds{
    &.insta_feed{
      .insta-box{
        width: 100%;
        height: auto;
      }
    }
  }
  .instagram-feeds.shop{
    .insta-box{
      width:100%;
      height: auto;
    }
  }
  .slider-wrapper.shop {
    .insta-box{
      width: auto;
      height: 250px;
    }
  }
  .screens-template {
    .screen-template-wrap {
      .content {
        .inner-content {
          .info-part{
            width: 100%;
          }
          .slider-part{
            width: 100%;
          }
        }
      }
    }
  }
}
