/*!
 * 
 * This is for all the frontend styles.
 * 
 */

@import "mixins-master";
$white: #ffffff;

.instagram-feeds{
  .instagram-wrap{
    font-size: 0px;

    .insta-box {
      position: relative;
      display: inline-block;
      vertical-align: top;
      position: relative;
      height: 250px;
      width: 49.3%;
      margin-bottom: 15px;

      &:focus {
        outline: 0;
      }

      .img-wrap {
        position: relative;
        height: 100%;

        img{
          border-radius: 0px;
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          @include prefix( box-shadow, $box_shadow_4, o moz webkit );
        }

        .box-head {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(0, 0, 0, 0.3);
          width: 100%;
          height: 100%;
          top: 0;
          @include prefix( transition, $trans_25, o moz webkit );

          &:after {
            content: "Shop Now";
            position: absolute;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            background: rgba( #52abf6, .9 );
            top: 0;
            height: 0;
            width: 100%;
            opacity: 0;
            @include font-size(1.2);
            @include prefix( transition, $trans_25, o moz webkit );

          }

          &:hover {
            background: rgba(0, 0, 0, 0.5);

            &:after {
              height: 100%;
              opacity: 1;
            }
          }

          .pic-author{
            color: $white;
            font-size: 16px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-weight: bold;
          }
      }

        .count-pic{
          display: inline-block;
          font-size: 16px;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          border: 2px solid $white;
          background-color: #999;
          color: $white;
          font-weight: bold;
          position: absolute;
          top: 10px;
          right: 10px;
          padding-top: 0px;
          text-align: center;
        }
        button.wonka-btn {
          padding: .5rem 1rem;
          text-align: center;
          border-radius: 100px;
          background: rgba( #52abf6, 1 );
          border: 2px solid #52abf6;
          opacity: 0;
          @include font-size( 1 );
          @include prefix( box-shadow, $box_shadow_4, o moz webkit );
          @include prefix( text-shadow, 1px 1px 3px rgba(#000, 0 ), o moz webkit );
          @include prefix( transition, $trans_25, o moz webkit );

          &:hover {
            background: rgba( #5858e4, 1 );
            border-color: #5858e4;
            color: rgba(255, 255, 255, .8);
            @include prefix( text-shadow, 1px 1px 3px rgba(#000, .9 ), o moz webkit );
          }
        }
      }
      &:hover{
        .box-head {

          button {
            opacity: 1;
          }
        }
      }
      @include media-breakpoint-up( md ) {
        width: 19.1%;
      }
    }
  }
}
.instagram-feeds.shop{
  margin: 30px 0px;

}

.screens-template {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  z-index: 99999999;
  @include prefix( transition, $trans_25, o moz webkit );

  .screen-template-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    top: 25px;
    padding: 15px;
    @include prefix( transition, $trans_25, o moz webkit );

    .close-icon {
      width: 25px;
      height: 25px;
      display: inline-block;
      position: absolute;
      top: -15px;
      right: 8px;
      cursor: pointer;
      z-index: 9999999;
      @include prefix( transition, $trans_25, o moz webkit );

      &:before {
        content: "\f00d";
        font: normal normal normal 25px/1 FontAwesome;
      }
    }


    .content {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 1200px;
      border-radius: 8px;
      overflow: hidden;
      @include prefix( box-shadow, $box_shadow_4, o moz webkit );
      @include prefix( transition, $trans_25, o moz webkit );

      .wsgrid-squeezy {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        position: relative;
      }

      .inner-content {
        flex: 0 0 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: $white;

        .slider-part {
          flex: 0 .65 65%;
          position: relative;
          opacity: 0;
          width: 100%;
          height: 100%;
          z-index: 100;
          @include prefix( transition, $trans_25, o moz webkit );

          &.loaded {
            opacity: 1;
          }

          .slider-wrapper {
            flex: 0 0 100%;
            @include prefix( box-shadow, $box_shadow_5, o moz webkit );

            .item {
              @include prefix( transition, $trans_25, o moz webkit );
            }
          }

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include media-breakpoint-up( md ) {
              width: auto;
              height:auto;
            }
          }
        }

        .info-part {
          position: relative;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow-y: auto;
          width: 100%;
          opacity: 0;
          background: #fafafa;
          @include prefix( transition, $trans_25, o moz webkit );

          &.loaded {
            opacity: 1;
          }

          .insta-tag-products {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            @include prefix( transition, $trans_25, o moz webkit );

            .wonka-insta-site-logo {
              flex: 1 100%;
              width: 100%;
              margin: 15px auto;

              > div {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img.wonka-insta-logo-img {
                  width: 35px;
                  height: 35px;
                  margin-left: 8px;
                  border-radius: 50%;
                  background: #ffffff;
                  @include prefix( box-shadow, $box_shadow_3, o moz webkit );
                }

                div.wonka-insta-site-info {
                  margin-left: 15px;
                  font-weight: 500;
                }
              }
            }

            .wonka-insta-message {
              flex: 1 1 100%;

              .wonka-insta-hash-tag {
                color: #8c8c8c;
              }
            }
          }

          .wonka-row {
            // margin: 30px auto;
          }

          .wonka-insta-link {
            position: relative;
            flex: 1 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            margin: 15px auto;
            
            > div.col-12 {
              text-align: center;

              .wonka-insta-title {
                margin: 15px auto;
                @include font-size( 1.1 );
              }
            }

            .wonka-btn {
              margin: 15px;
            }
          }

          .wonka-shop-img-wrap {
            height: 245px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }
        }

        @include media-breakpoint-up( md ) {
          display: flex;
          align-items: center;
          flex-direction: row;

          .slider-part {
            flex: 0 1 65%;
            height: 100%;
            width: 65%;

            .slider-wrapper {
              height: 100%;
            }
          }

          .info-part {
            flex: 0 1 40%;
            height: 100%;

            .wonka-insta-site-logo {
              flex: 1 100%;
              width: 100%;
              margin: 15px auto;

              > div {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img.wonka-insta-logo-img {
                  width: 60px;
                  height: 60px;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up( md ) {
    overflow: hidden;
    align-items: center;

    .screen-template-wrap {
      height: 75%;
    }
  }
}

@keyframes ws-round-animate{
  0%{
    transform:rotate(0)
  }
  100%{
    transform:rotate(360deg)
  }
}

.ws-loader {
  &.preload{
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100000;
    .info-part{
      .insta-tag-products{
        opacity: 0;
      }
    }
  }
  .wonka-round {
    width:48px;
    height:48px;
    display:inline-block;
    box-sizing:border-box;
    position:relative;
    top: 48%;
    left: 45%;
    &:before{
      border-radius:50%;
      content:" ";
      width:48px;
      height:48px;
      display:inline-block;
      box-sizing:border-box;
      border-top:solid 6px #bababa;
      border-right:solid 6px #bababa;
      border-bottom:solid 6px #bababa;
      border-left:solid 6px #bababa;
      position:absolute;
      top:0;
      left:0
    }
    &:after{
      border-radius:50%;
      content:" ";
      width:48px;
      height:48px;
      display:inline-block;
      box-sizing:border-box;
      border-top:solid 6px #96588a;
      border-right:solid 6px transparent;
      border-bottom:solid 6px transparent;
      border-left:solid 6px transparent;
      position:absolute;
      top:0;
      left:0;
      animation:ws-round-animate 1s ease-in-out infinite;
    }
  }
}