/*!
 * This is for all the admin styles.
 */
 @import "fontawesome/solid.scss";
 @import "fontawesome/v4-shims.scss";
 @import "fontawesome/regular.scss";
 @import "fontawesome/brands.scss";
 @import "fontawesome/fontawesome.scss";

.instagram{
	margin: 20px 0px;
}
.instagram label {
	color: #555;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    width: 20%;
    font-size: 14px;
}

.postbox {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}

.instagram input[type="radio"]{
  width:auto;
  margin-right: 5px;
  margin-top: 0px;
  margin-left: 5px;
}
.instagram input,.instagram input[type="text"],.instagram select,.instagram textarea,.instagram input[type="number"],.instagram input[type="url"]{
	display: inline-block;
	width: 15%;
}
.instagram input[type="submit"]{
	width: auto;
}
.submitter{
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 20px;
}
#dashboard_right_now.instagram li span{
	color: #fff;
}
#dashboard_right_now.instagram li{
	background-color: transparent;
}
#dashboard_right_now.instagram li[title]{
	padding-right: 10px;
	color: #fff;
	background-color: #44d176;
	font-weight: 700;
	border: none;
	line-height: 10px;
}
#dashboard_right_now.instagram li>span{
	padding: 10px 6px 10px 4px;
	margin-right: 0px;
}
.instagram-settings{
  min-width: 255px;
  margin-bottom: 20px;
  padding: 0;
  line-height: 1;
  width: 99%;
}
.instagram-settings h2{
	padding: 0px 20px;
}

.wonkasoft-tag-images-wrap {
  margin: 15px auto;
  padding: 8px;
}

.wp-list-table {
  text-align: left;

  tr {

    td.column-likes {
      text-align: center;
    }

    td.column-preview {

      div.insta-preview-image {
        text-align: center;

        img {
          margin: auto;
        }
      }
    }
  }

	th#preview {
    width: 166px;
	}

  th#likes {
    width: 70px;
  }
}

#dashboard_right_now.instagram li>span:before{
	content: none;
}
#dashboard_right_now li{
	width: auto;
}

#dashboard_right_now .radio-check ul.wc-radios{
  display: inline-block;
  width: auto;
  line-height: normal;
  margin-top: 15px;
  vertical-align: middle;
}
.instagramoutletproductlist input[type="number"]{
  max-width: 100%;
}

.instagram-wrap h3.disabled{
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #32373c;
	width: 14%;
	padding: 6px;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.instagram-disable {
	color: #4ac10d;
	font-weight: 700;
	background-color: #a0f9b359;
}
.instagram-green{
	background-color: #46da16;

}
.insta-top{
	margin-top: 20px !important;
}

.thickbox-header{
	margin: 10px 0px;
  width: 100%;
	display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;

  .profile-info-container {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px;

    img.profile-img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      box-shadow: 0 1px 6px 0 rgba( 0, 0, 0, .4 );
    }

    .profile-name {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}

.thickbox-body img{
	width: 100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
	object-position: top;
}

.thickbox-body .img-wrap{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 5px;
  position: relative;
  font-size: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px 0 rgba( 0, 0, 0, .4 );
  box-shadow: 0 1px 6px 0 rgba( 0, 0, 0, .4 );
}

.thickbox-body .img-wrap.selected img {
	opacity: .3;
}
.thickbox-body .img-wrap.selected::before{
	content: "L";
	position: absolute;
	font-family: arial;
	-ms-transform: scaleX(-1) rotate(-35deg); /* IE 9 */
	-webkit-transform: scaleX(-1) rotate(-35deg); /* Chrome, Safari, Opera */
	transform: scaleX(-1) rotate(-35deg);
	top: 0px;
	left: 5px;
	font-size: 24px;
	font-weight: bold;
	color: #287dda;
}

div.fetched-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 185px;
  grid-gap: 15px;
}

.tt .datatable{
	text-align: left;
	width: 100%;
	background-color: #fff;
	padding: 20px;
}

#custom_options .addButton{
	margin:20px 20px 0px;
}
.tt .datatable th{
	font-weight: 400;
	color: #555;
	vertical-align: bottom;
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.tt .datatable td{
	padding: 5px 10px;

}
.tt .datatable label{

	float: none;
	width: auto;
	margin:0px;

}
div#field {
	width: 95%;
	background-color: #eee;
	padding: 10px;
	margin: 10px;
}
.tt .datatable .datath1{
	width: 20%;
}

.tt .datatable .datath2{
	width: 20%;
}

.tt .datatable .datath3{
	width: 25%;
}

.tt .datatable .datath4{
	width: 25%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.pre-loader{
	position: relative;
	height: 450px;
	background: #F5F5F5;
}
.pre-loader::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
		right: 0;
		bottom: 0;
    margin: auto;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #379bf0;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.6s linear infinite;
    animation: spin 0.6s linear infinite;
}

#instafeed_shop_options, #instafeed_post_settings {

  p.form-field {

    input, select {
      width: 300px;
    }

    span.selection {
      width: 100%;

      li {
        padding: 4px 8px;
        border-radius: 2px;
      }
    }

    span.description {
      padding: 8px;
      display: block;
    }
  }
}